@import '../../variables.scss';

.toolbar {
  z-index: 1;

  height: $toolbar-height;
  background-color: white;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  box-shadow: 0 4px 5px gray;

  &__btn {
    height: 25px;
    width: 25px;
    margin: 10px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .brush {
    background: '🖌';
  }
}
